<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Présentation - Zoo Arcadia</title>
  <link rel="stylesheet" href="../assets/style.css" />

</head>

<body>
    <header>
        <h1>Présentation - Zoo Arcadia</h1>
    </header>

    <main>
        <section id="presentation">
            <div class="presentation-content">
                <h2>Le Zoo Arcadia</h2>
                <p>Le Zoo Arcadia est un parc animalier situé près de la forêt de Brocéliande en Bretagne. Depuis son ouverture, il s'est engagé à offrir aux visiteurs une expérience inoubliable au cœur de la nature.</p>
                <p>Voici un aperçu en images de notre parc, depuis ses débuts jusqu'à aujourd'hui :</p>
            </div>
            <div class="presentation-album">
                <figure>
                    <img src="../assets/image/zoonow.jpg" alt="Ouverture du Zoo Arcadia">
                    <figcaption>Ouverture du Zoo Arcadia</figcaption>
                </figure>
                <figure>
                    <img src="../assets/image/avant.jpeg" alt="Attractions du zoo">
                    <figcaption>Attractions du zoo</figcaption>
                </figure>
                
                <figure>
                    <img src="../assets/image/zoonow.jpg" alt="Ouverture du Zoo Arcadia">
                    <figcaption>Ouverture du Zoo Arcadia</figcaption>
                </figure>
                <figure>
                    <img src="../assets/image/avant.jpeg" alt="Attractions du zoo">
                    <figcaption>Attractions du zoo</figcaption>
                </figure>
            
         

    <footer>
        
      <p>&copy; 2024 Zoo Arcadia. Tous droits réservés.</p> 
    </footer>
</body>
</html>